<body>
  <h1 class="center-heading"><strong>Allergens</strong></h1>
  <div>
    <%= render partial: "shared/allergen", collection: @allergens, :locals => {:index_view => true, :search_item => "", :view_type=>""}  %>
  </div>
  <br>
  <div class="center">
    <%= link_to "Add New Allergen", new_allergen_path, class: "btn btn-lg btn-primary" %>
  </div>
  <br>
</body>