<h1 class="center-heading"><strong>Search Results:  <%= @search_item %></strong></h1>
<% if @search_item.blank? %>
    <div class="col-xs-8 col-xs-offset-2">
      <div class="panel-danger panel-heading panel-title center">
        <h2>
          Empty Search Field
        </h2>
    </div>
  </div>
<% else %>
  <% allergen_search_results = search_all_allergens(@search_item, @user_id) %>
  <% product_search_results = search_all_products(@search_item, @user_id) %>
  <% unless product_search_results.empty? %>
    <table class="table">
      <tr colspan="2">
        <th>Product</th>
        <th class='center'>Ingredients</th>
      </tr>
      <%= render partial: "shared/product", collection: product_search_results, :locals => {:index_view => false, search_item: @search_item}  %>
    </table>
  <% end %>
  <% unless allergen_search_results.empty? %>
      <%= render partial: "shared/allergen", collection: allergen_search_results, :locals => {index_view: false, search_item: @search_item, :view_type=>"shrink"}  %>
  <% end %>
  <!-- Search item not found in Product and Allergen db -->
  <% if allergen_search_results.empty? && product_search_results.empty? %>
    <div class="panel-info panel-heading panel-title center">
      <h1><%= @search_item %> Not Found</h1>
    </div>
  <% end %>
<% end %>