<h1 class="center-heading">Products</h1>
<table class="table">
  <tr colspan="3">
    <th><%= sort_link "name" %></th>
    <th class='center'>Ingredients</th>
    <th class='center' colspan="3">Actions</th>
  </tr>
  <%= render partial: 'shared/product', collection: @products, :locals => {index_view: true, :view_type=>""}  %>
</table>

<div class="center product-actions">
  <%= link_to "Create New Product", new_product_path, class: "btn btn-lg btn-primary" %>
</div>
<br>
<br>

